@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007bff; /* Couleur par défaut (bleu) */
  --primary-hover-color: #0056b3; /* Teinte différente pour le hover */
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.bg-primary-hover {
  background-color: var(--primary-hover-color);
}
