@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.bg-primary-hover {
  background-color: var(--primary-hover-color);
}

/* Forcer la largeur des toasts React-Toastify */
.Toastify__toast {
  max-width: 600px !important;
  width: 600px !important;
}

